@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez:ital@0;1&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sanchez", serif !important;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.title {
    font-family: "Love Ya Like A Sister", cursive;
    color: #fff !important;
}

.main {
    height: 100vh;
}

.sign-image {
    width: 10vh;
}

.response-text {
    font-size: 2rem;
}

.header {
    background-color: #ffc75f;
    height: 10vh;
}

.user-icon {
    font-size: 2rem;
    color: #fff;
}

.user-actions {
    background-color: #e8b454;
    padding: 0 20px !important;
    border-radius: 20px;
}

.hero-container {
    height: 45vh;
    background-color: #ffc75f;
    position: relative;
}

input:focus-visible {
    outline: none;
}

input::placeholder {
    color: #969696;
}

.login-input {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    height: 20vh;
    border-bottom: 30px solid #845ec2;
}

.sub-page-input {
    height: 100%;
}

.translation-container {
    height: 65vh;
}

.translation-output {
    min-height: 75%;
    width: 100%;
    border-radius: 25px;
}

.translation-output-main {
    min-height: 90%;
    padding: 20px;
}

.translation-output-footer {
    height: 10%;
    padding: 20px;
    background-color: #845ec2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
}

.translation-output-footer span {
    background-color: #efefef;
    padding: 7px 20px;
    border-radius: 20px;
}

.register-link {
    padding: 15px;
    color: #fff;
    font-size: 2rem;
    border: 2px solid #fff;
    border-radius: 40px;
    font-family: "Love Ya Like A Sister", cursive;
    transition: 0.2s all ease-in-out;
}

.register-link:hover {
    text-decoration: none;
    background-color: #e4b04f;
    color: #fff;
}

.sub-page-container {
    height: 25vh;
    background-color: #ffc75f;
}

.dropdown-menu {
    background-color: #e8b454 !important;
}
